# Emulator storage account configurations.
ACCOUNT_KIND=StorageV2
ACCOUNT_SKU=Standard_RAGRS
ACCOUNT_VERSION=2025-05-05
ACCOUNT_HNS_ENABLED=false
ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

# Emulator http server configurations.
BLOB_SERVER_PORT=10000
QUEUE_SERVER_PORT=10001
TABLE_SERVER_PORT=10002

# Configures the log levels for each module.
RUST_LOG=azurite_rs=debug,tower_http=debug